@model AppUserDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
}


@if (TempData["message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


<form asp-action="Index" method="post" class="w-75 mx-auto p-3" enctype="multipart/form-data">
    <input type="hidden" asp-for="@Model.Id" />
    <div class="form-group">
        <label asp-for="@Model.Name">Adınız :</label>
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
        <input asp-for="@Model.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.SurName">Soyadınız :</label>
        <span asp-validation-for="@Model.SurName" class="text-danger"></span>
        <input asp-for="@Model.SurName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Email">Email :</label>
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
        <input asp-for="@Model.Email" class="form-control" />
    </div>
    <div class="form-group mt-2">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-4">
                <div>
                    <h5 class="text-center">Şu an ki resminiz</h5>
                    <img src="~/img/@Model.Picture" class="w-100" style="height:10rem!important;" alt="@Model.Name" />
                </div>
            </div>

            <div class="col-md-4">
                <div id="alanOnizleme" style="display:none!important;">
                    <h5 class="text-center">Seçtiğiniz resim:</h5>
                    <img id="resimOnizleme" src="" class="w-100" style="height:10rem!important;" />
                </div>
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-12">
                <label> Resim Seç: </label>
                <input type="file" class="form-control-file" name="image" id="image" />
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-info btn-sm mt-2"><i class="fas fa-check mr-2"></i>Kaydet</button>

</form>


@section JavaScript{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Resim").change(function (e) {
                $("#alanOnizleme").show();
                $("#resimOnizleme").attr('src', URL.createObjectURL(e.target.files[0]));
            });
        });
    </script>

}


