@model GorevListDto
@{
    ViewData["Title"] = "AtaPersonel";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    string s = (string)ViewBag.Aranan;
}

<div class="row mt-2">
    <div class="col-md-12 mb-2">

        @if (!string.IsNullOrWhiteSpace(s))
        {
            <div class="border border-dark p-3 mb-2">
                <strong>
                    @s
                </strong> kelimesi için sonuçları görüyorsunuz.
                <a asp-action="AtaPersonel" asp-route-id="@Model.Id" class="float-right">Filtreyi kaldır</a>
            </div>
        }


        <form method="get" asp-action="AtaPersonel" class="text-right">
            <input type="text" name="s" class="form-control-sm border border-primary border-top-0 border-left-0 border-right-0" />
            <button type="submit" class="btn btn-primary btn-sm">Ara</button>

        </form>
    </div>


    <div class="col-md-4">

        <div class="card">
            <div class="card-header">
                <h4 class="text-center lead pt-2">Görev Bilgileri</h4>
            </div>

            <div class="card-body">
                <h5 class="card-title">@Model.Ad</h5>
                <p class="card-text">@Model.Aciklama</p>
                <p class="card-text">
                    <strong>Aciliyet Durumu:</strong>
                    <span class="badge badge-primary">
                        @Model.Aciliyet.Tanim
                    </span>
                </p>
                <p class="card-text">
                    <small>@Model.OlusturulmaTarih.ToString("D")</small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-8">

        @foreach (var item in (List<AppUserListDto>)ViewBag.Personeller)
        {
            <div class="card mb-3 p-2">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="~/img/@item.Picture" class="card-img w-100" style="height:10rem!important" alt="@item.Name">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name @item.SurName</h5>
                            <p class="card-text">
                                <getirGorevAppUserId app-user-id="@item.Id"></getirGorevAppUserId>
                            </p>
                            <p class="card-text"><small class="text-muted">@item.Email</small>
                            <a asp-action="GorevlendirPersonel" asp-route-PersonelId="@item.Id" asp-route-GorevId="@Model.Id" class="btn btn-primary btn-sm float-right">Görevlendir</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (!string.IsNullOrWhiteSpace(s))
                {
                    @for (int i = 1; i <= ViewBag.ToplamSayfa; i++)
                    {
                        <li class="page-item @(ViewBag.AktifSayfa==i?"active":"") ">
                            <a class="page-link" asp-action="AtaPersonel" asp-route-id="@Model.Id" asp-route-sayfa="@i" asp-route-s="@s">@i</a>
                        </li>
                    }
                }
                else
                {

                    @for (int i = 1; i <= ViewBag.ToplamSayfa; i++)
                    {
                        <li class="page-item @(ViewBag.AktifSayfa==i?"active":"") ">
                            <a class="page-link" asp-action="AtaPersonel" asp-route-id="@Model.Id" asp-route-sayfa="@i">@i</a>
                        </li>
                    }
                }

            </ul>
        </nav>

    </div>
</div>

